{
  "extends": ["react-app", "prettier", "plugin:jsx-a11y/recommended"],
  "plugins": ["prettier", "jsx-a11y"],
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "jsx-a11y/no-onchange": 0
  }
}
